*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#products{
    margin-top: 30px;
}

.container{
    max-width: 65%;
    margin: 0 auto;
}

.products{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

