.delete{
    border: 1px solid brown;
    padding: 7px 10px;
    background-color: red;
    border-radius: 10px;
    margin-right: 8px;
}
.edit{
    border: 1px solid brown;
    padding: 7px 10px;
    background-color: yellow;
    border-radius: 10px;
    margin-right: 8px;
}