#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.todo-input {
  width: 500px;
  padding: 6px;
  margin-right: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-buttons button {
  margin-left: 5px;
  cursor: pointer;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.filter-btn {
  padding: 5px 20px;
  cursor: pointer;
}

.edit-btn {
  background-color: rgba(6, 180, 6, 0.836);
  color: #fff;
}

.edit-btn:hover {
  background-color: rgb(5, 128, 5);
}

.delete-btn {
  background-color: red;
  color: #fff;
}

.delete-btn:hover {
  background-color: rgb(194, 4, 4);
}

.add{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.search{
  background-color: white;
  color: black;
  font-size: 16px;
  border: 2px solid greenyellow;
  border-radius: 6px;
  outline: none;
}
