
.sec-1{
    background-color: cadetblue;
    padding: 30px;
}
.html{
    color: white;
    text-align: center;
}
.html-2{
    color: black;
    text-align: center;
}
.sec-3{
    background-color: mediumblue;

}
.html-3{
    color: white;
    text-align: center;

}