*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container .menu-icons{
    display: none;
}

header .container .head-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

header .container .head-up ul{
    display: flex;
    gap: 14px;
}

header .container .head-up ul i{
    color: red;
}

header .container .head-up ul li a{
    color: black; 
}
header .head-end{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
header .head-end ul{
    display: flex;
    gap: 30px;
    margin-top: 3px;
}   
.head-end i{
    position: absolute;
    right: 5.8%;
    margin-top: 6px;
    color: white;
}
.head-end .btn{
    padding: 7px 10px 7px 32px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.head-end{
    position: relative;
    background-color: wheat;
    padding: 20px 10px 20px 0 ;
}
.head-end a{
    color: black;
}
/* main */

#main{
    background-color: darkblue ;
}

.container .information{
    padding: 40px;
    margin-top: 50px;
}

.information .row .col-3{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.information .row .col-3 i{
    color: yellow;
    font-size: 3rem;
}

.information .row .col-3 span{
    font-size: 3rem;
    color: white;
}

.information .row .col-3 p{
    color: aqua
}

@media only screen and (max-width:991px){
    header .container .head-up nav{
        display: none; 
    }

    header .head-end{
        display: none;
    }
    .container .menu-icons{
        display: flex;
        gap: 20px;
        margin-left: 100px;
    }
    .menu-icons .fa-credit-card{
        border: 1px solid red;
        padding: 7px;
        background-color: red;
        color: white;
        border-radius: 7px;
    }
    .menu-icons .fa-bars{
        border: 1px solid red;
        padding: 7px 8px;
        background-color: red;
        color: white;
        border-radius: 7px;
    }
    header .container .head-up{
      padding: 30px;
      background-color: bisque;
    }

}